[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/gammastep -l 39.9:32.9 -t 6500:4500
Restart=on-failure
