$bg: #262530;
$fg: #d9d7c3;
$fgDim: #8a8880;

* {
  all: unset;
}

window {
  background: $bg;
}

.bar {
  font-family: "Iosevka Fixed SS04 Md Ex", monospace;
  font-size: 12px;
  margin: 0 12px;
}

.ws-active, .ws-inactive {
  margin: 0 4px;
}

.ws-active {
  color: $fg;
}

.ws-inactive {
  color: $fgDim;
}

.fht, .upd, .net, .mem, .cpu, .vol, .date {
  color: $fg;
}

.fht .inactive {
  color: $fgDim;
}

.tooltip {
  color: $fg;
  font-family: "Iosevka Term SS03 SmBd Ex", monospace;
  background-color: rgba($bg, 0.6);
  font-size: 12px;
  padding: 4px;
  border-radius: 6px;
}

.power, .power_parent, .power_header, .power_title, .power_button {
  color: $fg;
}

.power_parent {
  font-family: "Iosevka Fixed SS04 Ex", monospace;
  font-size: 24px;
  margin: 0 16px;
  padding: 0 16px;
  border-radius: 8px;
  border: 2px solid $fgDim;
}

.power_title {
  margin: 0 16px;
}

.power_exit {
  font-size: 12px;
  color: $fgDim;
}

.power_body {
  margin: 4px;
}

.power_button {
  margin: 0 8px;
  padding: 8px 16px;
  border: 1px solid $fgDim;
  border-radius: 4px;
}
