* {
    all: unset;
}

// global
// using catppuccin colors
.bar {
  // background-color: rgba(36, 39, 58, 0.5); // surface 0
  // background-color: transparent;
  color: #cad3f5; // text
  font-family: "UbuntuMono Nerd Font";
  font-size: 12;
  // border: 1px solid rgba(238, 153, 160, 0.5);
}

// styles on classes

.workspaces, .title {
  all: unset;
  background-color: rgba(36, 39, 58, 1.0);
  padding: 5px 10px;
  margin: 2px 20px;
  border-radius: 6px;
}

.sidestuff {
  all: unset;
  margin: 2px 20px;
  border-radius: 6px;
}

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric {
  all: unset;
  background-color: rgba(36, 39, 58, 1.0);
  margin: 2px;
  padding: 5px 10px;
  border-radius: 6px;
}

.clock {
  all: unset;
  background-color: rgba(36, 39, 58, 1.0);
  margin: 2px;
  padding: 5px 10px;
  border-radius: 6px;
}

.metric scale trough highlight {
  all: unset;
  background-color: #d35d6e;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.label-ram .label-cpu {
  font-size: large;
}

.workspaces button:hover {
  background-color: #d35d6e;
}

.workspaces.active {
  background-color: rgba(147, 153, 178, 1.0);
}
